body{
    display: flex;
}

.navig{
    height: 110vh;
    background: linear-gradient(to bottom, rgb(22, 7, 80), rgb(81, 0, 174));
}
.navig a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
}
.navig a:hover{
    font-size: 20px;
    border-bottom: solid 0.1px #FFF;
}

.contenu{
    display: flex;
    background-image: url('../img/images.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
} 